.addHabitButton {
  all: unset;
  border-radius: 0.5em;
  color: black;
  display: grid;
  font-size: 1em;
  gap: 0.5em;
  grid-template-columns: 1em auto;
  padding: 0.5em;
  place-items: center;
  transition: all 100ms ease-in-out;
}

.addHabitButton::before {
  box-shadow: inset 0.75em 0.75em black;
  clip-path: polygon(0 40%, 40% 40%, 40% 0, 60% 0, 60% 40%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%, 40% 60%, 0 60%);
  content: "";
  height: 0.75em;
  transition: box-shadow 100ms ease-in-out;
  width: 0.75em;
}

.addHabitButton:hover::before {
  box-shadow: inset 0.75em 0.75em rgb(229, 205, 181);
}

.addHabitButton:hover {
  background-color: black;
  color: rgb(229, 205, 181);
}

.habit {
  align-items: center;
  display: grid;
  font-size: 1.25em;
  gap: 2em;
  grid-template-columns: 1em auto;
  margin: 1em;
  user-select: none;
}

.habit:has(.habitCheckbox:checked) {
  text-decoration: line-through rgb(0, 0, 0, 1) solid 0.1em;
}

.habitCheckbox {
  appearance: none;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  color: currentColor;
  display: grid;
  font: inherit;
  height: 1em;
  margin: 0;
  place-content: center;
  width: 1em;
}

.habitCheckbox::before {
  box-shadow: inset 0.7em 0.7em black;
  clip-path: polygon(35.5% 61%, 82.5% 2%, 99.5% 16%, 37.25% 93.5%, 0.75% 57.75%, 16.5% 42%);
  content: "";
  height: 0.7em;
  transform: scale(0);
  transition: transform 50ms ease-in-out;
  width: 0.7em;
}

.habitCheckbox:checked::before {
  transform: scale(1);
}

.habitList {
  list-style-type: none;
  padding: 0;
}

.habitName {
  overflow-wrap: break-word;
}

.horizontalRule {
  border: none;
  border-top: 1px solid rgb(128, 128, 128);
  margin: 1em 0;
}

.newHabitButtons {
  display: flex;
  gap: 0.25em;
  justify-content: flex-end;
}

.newHabitForm {
  display: grid;
  gap: 1em;
}

.newHabitTextInput {
  all: unset;
  background-color: rgb(245, 235, 225);
  border: 0.1em solid black;
  border-radius: 0.25em;
  font-size: 1.25em;
  height: 2em;
  padding-left: 1em;
}
